@keyframes fade-up {
    from {
        transform: translateY(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    from {
        transform: translateX(-10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    from {
        transform: translateX(10%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.Staffservicepage {
    background-color: rgb(25 25 25);
    overflow: hidden;
}
.line1 {
    overflow: hidden;
    width: 103%;
}

.line1 .info {
    letter-spacing: 0.5rem;
    font-size: clamp(0.6rem, 0.8vw, 10rem);
    color: white;
    margin: 10rem 0 0 0;
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 3s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    /* text-align: center; */
}

.line1 .h1text {
     padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: clamp(2.5rem, 5vw, 10rem);
    line-height: clamp(2.5rem, 5vw, 10rem);
    color: rgb(255, 255, 255);
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 3s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.line1 strong {
    font-weight: 500;
    background: linear-gradient(106deg, #b9c3ff 12.8%, #d7b8ff 47%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.line1 .line1end {
    font-size: clamp(1rem, 1.7vw, 10rem);
    color: white;
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 3s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}
.line2 .col-lg-3 {
    padding-top: 5rem;
    padding-left: 7rem;
    justify-content: center;
    align-items: center;
}
.line2 .h1text {
    padding-top: 5rem;
   padding-bottom: 5rem;
   font-size: clamp(2.5rem, 4vw, 10rem);
   line-height: clamp(2.5rem, 5vw, 10rem);
   color: rgb(255, 255, 255);
   opacity: 0;
   animation-name: fade-up;
   animation-duration: 3s;
   animation-delay: 100ms;
   animation-fill-mode: forwards;
}

.line2 strong {
   font-weight: 500;
   background: linear-gradient(106deg, #b9c3ff 12.8%, #d7b8ff 47%);
   font-size: clamp(2.5rem, 3vw, 10rem);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.line2 .info {
    letter-spacing: 0.5rem;
    font-size: clamp(0.6rem, 0.8vw, 10rem);
    color: white;
    margin: 10rem 0 0 0;
    opacity: 0;
    animation-name: fade-up;
    animation-duration: 3s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    /* text-align: center; */
}

